{% extends 'base.html' %}

{% load color_filters %}
{% load static %}

{% block content %}
  <div class="container mt-4">
    {% if not selectable %}
      <h2>Liste des Questions</h2>
    {% endif %}

    <!-- Inclure le formulaire de filtre -->
    {% include 'questions/question_filter_form.html' %}

    <!-- Liste des questions -->
    <div id="questions-list">
      {% if not selectable %}
        <a href="{% url 'question-create' %}" class="btn btn-primary mb-4">Créer une nouvelle Question</a>
      {% endif %}
      {% include 'questions/question_list_content.html' %}
    </div>
  </div>


  <!-- Inclure jQuery et le script de filtrage -->

  {% include 'latexify/scripts.html' %}
{% endblock %}
{% block extra_scripts %}
  <script src="{% static 'js/questions/question_filter.js' %}"></script>
  <script src="{% static 'js/questions/question_events.js' %}"></script>
{% endblock %}
