{% extends 'base.html' %}

{% load color_filters %}

{% block content %}
<div class="container mt-4">
  <h2>Liste des QCM</h2>

  <!-- Liste des qcm -->
  <div id="qcm-list">
    <a href="{% url 'qcm-create' %}" class="btn btn-primary mb-4">Créer un nouveau qcm</a>
    <form id="qcm-form" method="POST" action="{% url 'qcm-delete-multiple' %}">
      {% csrf_token %}
      <table class="table table-bordered rounded bg-light">
        <thead class="rounded">
          <tr>
            <th>
              <input type="checkbox" id="select-all"> Tout sélectionner
            </th>
            <th>Nom des qcms</th>
          </tr>
        </thead>
        <tbody>
          {% for qcm in qcms %}
          <tr class="qcm-row position-relative" data-qcm-id="{{ qcm.id }}" style="cursor: pointer;">
            <td class="px-4">
              <div class="d-flex justify-content-between align-items-center">
                <div class="form-check d-flex justify-content-between align-items-center">
                  <input class="form-check-input" type="checkbox" name="selected_qcms" value="{{ qcm.id }}">
                </div>
              </div>
            </td>
            <td>
              <div class="qcm-header p-2">{{ qcm.titre }}</div>

                  <!-- Boutons d'export, modification, suppression (alignement horizontal) -->
                  <div class="button-list align-items-center" style="gap: 50px; display: flex;">
                    <button type="button" class="btn btn-info btn-sm answer-qcm-btn"><i class="bi bi-eye"></i></button>
{% comment %} 
                    <button type="button" class="btn btn-info btn-sm export-qcm-xml-btn">XML<i class="bi bi-arrow-bar-down"></i></button>
                    <button type="button" class="btn btn-info btn-sm export-qcm-latex-btn">AMC<i class="bi bi-arrow-bar-down"></i></button> {% endcomment %}
                    <button type="button" class="btn btn-info btn-sm export-qcm-xml-btn"><i class="bi bi-arrow-bar-down"></i></button>
                    <button type="button" class="btn btn-warning btn-sm edit-qcm-btn"><i class="bi bi-pencil"></i></button>
                    {% comment %} <button type="button" class="btn btn-danger btn-sm delete-qcm-btn"><i class="bi bi-trash"></i></button> {% endcomment %}
                  </div>
                </div>

                <!-- Section des questions du qcm à afficher/cacher -->
                <div class="qcm-list" id="questions-{{ qcm.id }}" style="display: none; margin-top: 10px;">
                  <p>{{ qcm.description }}</p>
                  <ul class="list-group">
                    <p>
                      Nombre de questions : <b>{{ qcm.number_of_questions }}</b>
                    </p>

                    {% for question in qcm.questions.all %}
                      <li class="list-group-item">
                        {{ question.nom }} <br />
                        {{ question.texte }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="2">Aucun qcm disponible.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  
        <button type="submit" class="btn btn-danger">Supprimer les QCM sélectionnés</button>
      </form>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      const filterForm = $('#filterForm')
      const selectedTagsContainer = $('#selected-tags-container')
    
      // Afficher les boutons
      //$(document)
        //.on('mouseenter', '.qcm-row', function () {
        //  $(this).find('.button-list').css('display', 'flex')
        //})
        //.on('mouseleave', '.qcm-row', function () {
        //  $(this).find('.button-list').css('display', 'none')
        //})
    
      // Confirmation de suppression avant de supprimer le qcm
      $(document).on('click', '.delete-qcm-btn', function (e) {
        e.preventDefault()
        e.stopPropagation()
        const qcmRow = $(this).closest('.qcm-row')
        const qcmId = qcmRow.data('qcm-id')
    
        if (confirm('Voulez-vous vraiment supprimer ce qcm ?')) {
          window.location.href = "{% url 'qcm-delete' qcm_id=0 %}".replace('0', qcmId)
        }
      })

      $(document).ready(function () {
        // Sélectionner / désélectionner tous les QCM
        $('#select-all').on('click', function () {
          $('input[name="selected_qcms"]').prop('checked', this.checked);
        });
    
        // Si tous les QCM sont cochés ou non
        $('input[name="selected_qcms"]').on('click', function () {
          if ($('input[name="selected_qcms"]:checked').length === $('input[name="selected_qcms"]').length) {
            $('#select-all').prop('checked', true);
          } else {
            $('#select-all').prop('checked', false);
          }
        });
      });
    
      // Previsualiser le qcm
      $(document).on('click', '.answer-qcm-btn', function (e) {
        e.preventDefault()
        e.stopPropagation()
        const qcmRow = $(this).closest('.qcm-row')
        const qcmId = qcmRow.data('qcm-id')
        window.location.href = "{% url 'qcm-answer' qcm_id=0 %}".replace('0', qcmId)
      })
    
      // Rediriger vers la page de modification de la question
      $(document).on('click', '.edit-qcm-btn', function (e) {
        e.preventDefault()
        e.stopPropagation()
        const qcmRow = $(this).closest('.qcm-row')
        const qcmId = qcmRow.data('qcm-id')
        window.location.href = "{% url 'qcm-edit' pk=0 %}".replace('0', qcmId)
      })

      // Exporter le qcm en XML
      $(document).on('click', '.export-qcm-xml-btn', function (e) {
        e.preventDefault()
        e.stopPropagation()
        const qcmRow = $(this).closest('.qcm-row')
        const qcmId = qcmRow.data('qcm-id')
        window.location.href = "{% url 'qcm-export-xml' qcm_id=0 %}".replace('0', qcmId)
      })

      // Exporter le qcm en Latex
      $(document).on('click', '.export-qcm-latex-btn', function (e) {
        e.preventDefault()
        e.stopPropagation()
        const qcmRow = $(this).closest('.qcm-row')
        const qcmId = qcmRow.data('qcm-id')
        window.location.href = "{% url 'qcm-export-latex' qcm_id=0 %}".replace('0', qcmId)
      })
    
      // JavaScript pour afficher/masquer les questions des qcm
      $(document).on('click', '.qcm-header', function (e) {
        const qcmId = $(this).data('qcm-id')
        const questionList = $('#questions-' + qcmId)
    
        if (questionList.is(':visible')) {
          questionList.slideUp()
        } else {
          questionList.slideDown()
        }
      })
    })
  </script>
{% endblock %}
