{% extends 'base.html' %}
{% load index %}
{% block content %}
<div class="container">
    <h1>Correction du QCM : {{ qcm.titre }} de {{ user.username }}</h1>
    <p>{{ qcm.description }}</p>
    <br />

    <p>Note du qcm: {{reponse_qcm.score}}/{{reponse_qcm.score_max}}</p>

    <div class="questions">
        {% for question in qcm.questions.all %}
            <div class="question">
                <h4>{{ forloop.counter }}. {{ question.texte }}</h4>
                <p>{{scores|index:forloop.counter0}} </p>
                <div class="reponses">
                    {% for reponse in question.reponses.all %}
                        <div class="form-check">
                            <input 
                                class="form-check-input" 
                                name="question_{{ question.id }}"
                                id="reponse_{{ reponse.id }}"
                                type="{% if question.number_of_correct_answers > 1 %}checkbox{% else %}radio{% endif %}" 
                                {% if reponse.id in reponsesids  %}checked{% endif %}
                                disabled
                            />
                            <label
                                class="form-check-label">
                                {{ reponse.texte }}
                                {% if reponse.is_correct %}
                                    <i class="bi bi-check-circle-fill text-success"></i>
                                {% else %}
                                    {% if reponse.id in reponses_ids %}
                                        <i class="bi bi-x-circle-fill text-danger"></i>
                                    {% endif %}
                                {% endif %}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <br />
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
