{% extends 'base.html' %}
{% load color_filters %}
{% load static %}

{% block content %}
  <style>
    label[for^="id_form-"][for$="-DELETE"],
    input[type="checkbox"][name$="-DELETE"] {
      display: none;
    }
    .tag-badge.selected {
      opacity: 1;
    }
    .tag-badge {
      opacity: 0.6;
    }
  </style>

  <div class="container mt-4">
    <h2>
      {% if qcm.pk %}
        Modifier le QCM
      {% else %}
        Créer un nouveau QCM
      {% endif %}
    </h2>

    <!-- Affichage des erreurs -->
    {% if form.errors or formset.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
          {% for formset_form in formset %}
            {% for field in formset_form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <!-- Formulaire de filtrage (en dehors du formulaire principal) -->
    <h3>Sélectionnez les questions :</h3>
    {% include 'questions/question_filter_form.html' %}

    <!-- Formulaire principal -->
    <form method="post" id="qcmForm">
      {% csrf_token %}

      <!-- Champ pour le titre du QCM -->
      <div class="form-group">
        {{ form.titre.label_tag }}
        {{ form.titre }}
      </div>

      <!-- Champ pour la description du QCM -->
      <div class="form-group">
        {{ form.description.label_tag }}
        {{ form.description }}
      </div>

      <!-- Plages associées au QCM -->
      <div class="d-flex align-items-center mb-2">
        <h3>Plages</h3>
        <button type="button" id="add-plage" class="btn btn-sm btn-outline-primary ml-2">+</button>
      </div>

      <div id="plagesFormset">
        {{ formset.management_form }}
        {% for formset_form in formset %}
          <div class="formset-row item" style="display: flex; justify-content: space-between">
            {{ formset_form.as_p }}
            <div class="form-group">
              <button type="button" class="btn btn-danger remove-plage"><i class="bi bi-trash"></i></button>
            </div>
          </div>
        {% endfor %}
      </div>

      <button type="button" class="btn btn-success ml-2 w-10 m-4" id="openModal">Générer automatiquement des questions</button>

      <!-- Liste des questions -->
      <div id="questions-list">
        {% include 'questions/question_list_content.html' with selectable=True %}
      </div>

      <button type="submit" class="btn btn-success">
        {% if qcm.pk %}
          Modifier
        {% else %}
          Créer
        {% endif %}
      </button>
    </form>

  </div> 

  <!-- Inclusion de jQuery et du script de filtrage -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/questions/question_filter.js' %}"></script>
  <script src="{% static 'js/questions/question_events.js' %}"></script>
  <!-- Modal Popup pour l'upload du fichier et l'affichage des questions générées -->
  <div class="modal fade" id="fileModal" tabindex="-1" aria-labelledby="fileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fileModalLabel">Envoyer un fichier PDF de cours pour générer des questions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        <div class="modal-body">
          <form id="fileUploadForm">
            {% csrf_token %}
            <div class="mb-3">
              <label for="fileInput" class="form-label">Choisir un fichier PDF</label>
              <input type="file" class="form-control" id="fileInput" name="file" accept=".pdf" required>
            </div>
          </form>
          <!-- Indicateur de chargement -->
          <div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display:none;">
            <span class="visually-hidden">Chargement...</span>
          </div>
          <!-- Conteneur pour les questions générées -->
          <div id="generatedQuestionsContainer" style="display: none;">
            <h4>Questions générées</h4>
            <div id="generatedQuestionsList"></div>
            <button type="button" class="btn btn-primary" id="saveSelectedQuestions">Ajouter les questions sélectionnées</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="closeModal" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" id="generateBtn">Générer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Inclusion des scripts Bootstrap 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Votre code JavaScript -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Ouvrir la modal lors du clic sur le bouton
      document.getElementById('openModal').addEventListener('click', function() {
        var myModal = new bootstrap.Modal(document.getElementById('fileModal'), {});
        myModal.show();
      });

      // Gestion des formulaires de plages
      var formsetPrefix = '{{ formset.prefix }}'
      var totalForms = document.getElementById('id_' + formsetPrefix + '-TOTAL_FORMS')
      var formsetContainer = document.getElementById('plagesFormset')

      document.getElementById('add-plage').addEventListener('click', function() {
        var formCount = parseInt(totalForms.value)
        var newFormHtml = formsetContainer.querySelector('.formset-row').cloneNode(true)

        // Mise à jour des attributs 'id' et 'name' pour chaque élément cloné
        var inputs = newFormHtml.querySelectorAll('input, select, textarea')
        inputs.forEach(function(input) {
          var newId = input.id.replace('-0-', '-' + formCount + '-')
          var newName = input.name.replace('-0-', '-' + formCount + '-')
          input.setAttribute('name', newName)
          input.setAttribute('id', newId)

          // Effacer les valeurs des champs
          if (input.type !== 'hidden') {
            input.value = ''
          }
        })

        newFormHtml.querySelector('.remove-plage').style.display = 'block'

        formsetContainer.appendChild(newFormHtml)
        totalForms.value = formCount + 1
      })

      // Gestion de la suppression des plages
      document.addEventListener('click', function(event) {
        if (event.target.classList.contains('remove-plage')) {
          var formRow = event.target.closest('.formset-row')
          formRow.querySelector('input[type="checkbox"][name$="-DELETE"]').checked = true
          formRow.style.display = 'none'
        }
      })

      // Initialiser le bouton supprimer
      var removeButtons = document.querySelectorAll('.remove-plage')
      removeButtons.forEach(function(button, index) {
        if (index === 0) {
          button.style.display = 'none'
        }
      })

      // Variables pour la génération de questions
      var hasGenerated = false;  // Indicateur pour savoir si des questions ont déjà été générées
      var questions = [];  // Variable pour stocker les questions générées

      // Envoyer le fichier via Fetch API lors du clic sur le bouton "Générer" ou "Régénérer"
      document.getElementById('generateBtn').addEventListener('click', function() {
        var formData = new FormData(document.getElementById('fileUploadForm'))

        // Afficher l'indicateur de chargement
        document.getElementById('loadingSpinner').style.display = 'block'
        document.getElementById('generatedQuestionsContainer').style.display = 'none'

        fetch('/question/generation/', {
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRFToken': '{{ csrf_token }}'
          }
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('loadingSpinner').style.display = 'none'
          document.getElementById('generatedQuestionsContainer').style.display = 'block'
          questions = data.questions;  // Stocker les questions générées dans la variable

          displayGeneratedQuestions(questions);

          // Changer le bouton en "Régénérer"
          hasGenerated = true;
          document.getElementById('generateBtn').textContent = 'Régénérer';
        })
        .catch(error => {
          document.getElementById('loadingSpinner').style.display = 'none'
          console.error('Erreur:', error);
        });
      });

      // Fonction pour afficher les questions générées dans la popup
      function displayGeneratedQuestions(questions) {
        var questionsList = document.getElementById('generatedQuestionsList');
        questionsList.innerHTML = '';  // Vider la liste avant d'afficher les nouvelles questions

        questions.forEach(function(question, index) {
          var questionHtml = `
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="${index}" id="generatedQuestion_${index}">
              <label class="form-check-label" for="generatedQuestion_${index}">
                <strong>${question.nom}</strong><br>
                ${question.texte}
                <ul>`;

          question.reponses.forEach(function(reponse) {
            questionHtml += `<li>${reponse.texte} ${reponse.is_correct ? '(Bonne réponse)' : ''}</li>`;
          });

          questionHtml += `</ul></label></div>`;

          questionsList.insertAdjacentHTML('beforeend', questionHtml);
        });
      }

      // Sauvegarder les questions sélectionnées
      document.getElementById('saveSelectedQuestions').addEventListener('click', function() {
        var selectedQuestions = [];

        // Récupérer les questions cochées
        var checkboxes = document.querySelectorAll('#generatedQuestionsList input:checked');
        checkboxes.forEach(function(checkbox) {
          var questionIndex = checkbox.value;  // Utiliser l'index pour récupérer la question complète
          var questionData = questions[questionIndex];

          // Ajouter la question complète avec ses réponses dans selectedQuestions
          selectedQuestions.push({
            "nom": questionData.nom,
            "texte": questionData.texte,
            "reponses": questionData.reponses.map(function(reponse) {
              return {
                "texte": reponse.texte,
                "is_correct": reponse.is_correct
              };
            })
          });
        });

        if (selectedQuestions.length > 0) {
          // Envoyer les données sous forme de JSON
          fetch('/save-questions/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
              'questions': selectedQuestions
            })
          })
          .then(response => response.json())
          .then(data => {
            alert('Questions sauvegardées avec succès !');
            window.location.reload();  // Rafraîchir la page pour voir les nouvelles questions dans la liste de QCM
          })
          .catch(error => {
            console.error('Erreur:', error);
          });
        } else {
          alert('Veuillez sélectionner au moins une question.');
        }
      });

      // Vider les variables liées à la réponse du POST lorsqu'on ferme la modal
      document.getElementById('closeModal').addEventListener('click', function() {
        if (!hasGenerated) {
          // Réinitialiser les champs du formulaire de génération
          document.getElementById('fileInput').value = '';  // Vider le fichier sélectionné
          document.getElementById('generatedQuestionsList').innerHTML = '';  // Vider la liste des questions générées
          document.getElementById('generateBtn').textContent = 'Générer';  // Réinitialiser le texte du bouton
        }
      });
    });
  </script>


{% endblock %}