{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Créer un Nouveau QCM</h2>

    <!-- Affichage des erreurs -->
    {% if form.errors or formset.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field in form %}
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}

          {% for form in formset %}
            {% for error in form.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <form method="post" id="qcmForm">
      {% csrf_token %}

      <!-- Champ pour le texte de la question -->
      <div class="form-group">{{ form.titre.label_tag }}
        {{ form.titre }}</div>

      <!-- Champ pour le texte de la question -->
      <div class="form-group">{{ form.description.label_tag }}
        {{ form.description }}</div>

      <!-- Champ pour la date du qcm -->
      <div class="form-group">{{ form.date.label_tag }}
        {{ form.date }}</div>

      <!-- Champ pour les questions -->
      <h3>Sélectionnez les questions :</h3>
      <div class="form-group">
        {% for question in questions %}
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="selected_questions" value="{{ question.id }}"
              id="question_{{ question.id }}"
              {% if question in selected_questions %}checked{% endif %}>
            <label class="form-check-label" for="question_{{ question.id }}">
              {{ question.nom }} - {{ question.texte }}
            </label>
          </div>
        {% endfor %}
      </div>


      <!-- Bouton pour soumettre le formulaire -->
      <button type="submit" class="btn btn-success">Enregistrer</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
