/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-box {
  background-color: #e0e0e0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* width: 300px; */
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: #d0d0d0;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: #888;
}

.login-button {
  background-color: #555555; /* Couleur du bouton plus foncée */
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #333333;
}

.input-group {
    position: relative; /* Positionnement relatif du parent pour que l'icône puisse être placée à l'intérieur */
    width: 100%; /* Assurer que l'input prenne toute la largeur du conteneur */
}

.input-group input {
    width: 100%;
    padding-right: 40px; /* Espace réservé à droite pour l'icône */
    height: 40px; /* Hauteur de l'input pour garantir que l'icône sera bien alignée */
    box-sizing: border-box; /* Assurer que le padding et la bordure sont inclus dans la largeur totale */
}

.password-toggle {
    position: absolute;
    right: 10px; /* Positionné à droite de l'input */
    top: 50%; /* Centré verticalement */
    transform: translateY(-50%); /* Ajustement pour le centrer parfaitement */
    cursor: pointer;
    color: #888; /* Couleur de l'icône */
}

.password-toggle i {
    font-size: 18px;
}

.alert-box {
    margin-bottom: 20px;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: red; /* Texte en blanc */
    background-color: #dc3545; /* Rouge vif pour l'alerte */
}

.alert-danger {
    background-color: #dc3545; /* Rouge Bootstrap */
    color: red; /* Texte en blanc */
}

.blocDroit{
  display: none;
}