
.qcm-list td:nth-child(1) {
    width: 10px;

}
.qcm-list td:nth-child(2) {
    display: flex;
    flex-direction: column !important;
}

.qcm-table{
    border-radius: 15px;
    background-color: rgb(224, 241, 255) ;
    transition: all 0.3s;

}



.dark-mode .qcm-table{
   color: aliceblue;
    background-color: #272727 ;
    transition: all 0.3s;
}


.table th {
    /* pas de border  */
    border-top: 0px !important;
}
