body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #333;
    color: white;
    width: 100%;
    height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.sidebar {
  background-color: #2b2b2b;
  color: white;
  width: 250px;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}


.main-content h1 {
  font-size: 80px;
}

.main-content p {
  font-size: 30px;
}


.sidebar.collapsed {
    /* transform: translateX(-250px); */
    display: none;
}

.pp-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pp {
  width: 100%;
  /* mettre tout les element enfant a droite */
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 10px;
}

.texteUser {
  float: left;
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.pp-btn {
  display: flex;
  justify-content: flex-end;

  font-size: 35px;
  color: white;
}

.toggle-btn{
    color: aliceblue;
    background: none;
    border: none;
    height: 40px;
}

/* quand le toggle-btn est selectionné je ne veux pas qu'il y ai de border */

.toggle-btn:focus {
    outline: none;
}