{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Application Django{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="" style="display: flex; width: 100%;">
        <nav class="sidebar">
            <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'question-list' %}">Liste des questions</a></li>
                <li><a href="{% url 'question-create' %}">Genener un QCM</a></li>
                <li><a href="{% url 'question-create' %}">Tableau de bord</a></li>
                <li><a href="{% url 'question-create' %}">Support & documentation</a></li>

                <!-- On ajoute ici d'autres liens de navigation si besoin -->
            </ul>
        </nav>
        <main class="content">
            <div class="pp"> <button class="pp-img">profile</button></div>
            {% block content %}
           
            {% endblock %}
        </main>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>