<!-- app/templates/home.html -->
{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="home-text"> <h1>Auto-QCM</h1>
    <p>Des quiz express, pour un succès qui progresse</p></div>
   
    <div class="buttons">
        <a href="#" class="button"> <i class="bi bi-card-checklist"></i>  Créer ou consulter une question</a>
        <a href="{% url 'question-create' %}" class="button"><i class="bi bi-question-square"></i>  Générer un QCM</a>
        <a href="#" class="button"><i class="bi bi-clipboard-data"></i>   Consulter son tableau de bord</a>
    </div>
</div>
{% endblock %}

