{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Tableau de bord Enseignant</h1>
    <p>Gérez vos QCM, suivez les résultats et planifiez vos sessions</p>

    <div class="row">
        <!-- Colonne de gauche : Barre de recherche et Liste des QCM -->
        <div class="col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-header bg-success">
                    <h3>Rechercher un élève</h3>
                </div>
                <div class="card-body">
                    <form method="GET" action="{% url 'search-student' %}">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Nom ou Prénom de l'élève">
                            <button class="btn btn-success" type="submit">Rechercher</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card shadow-sm mb-3">
                <div class="card-header bg-primary">
                    <h3>QCM avec vos questions</h3>
                </div>
                <div class="card-body">
                    <div style="max-height: 243px; overflow-y: auto;">
                        <ul class="list-group">
                            {% for qcm in qcms_with_questions %}
                            <li class="list-group-item">
                                <strong>{{ qcm.titre }}</strong> - {{ qcm.date|date:"d/m/Y" }}
                                <ul>
                                    {% if qcm.reponses_qcm.count > 0 %}
                                    <li>
                                        {{ qcm.reponses_qcm.count }} réponses - 
                                        <a href="{% url 'qcm-responses' qcm.id %}">Voir toutes les réponses</a>
                                    </li>
                                    {% else %}
                                    <li>Aucune réponse pour ce QCM.</li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% empty %}
                            <li class="list-group-item">Aucun QCM trouvé.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Colonne de droite : Calendrier -->
        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div id="calendar" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Lien vers les statistiques des QCM -->
    <div class="row">
        <div class="col-md-12 mt-4 mb-5">
            <a href="{% url 'qcm-statistics' enseignant.pk %}" class="btn btn-info">Voir les statistiques des QCM</a>
        </div>
    </div>
</div>

<!-- Script pour le calendrier FullCalendar -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var events = [
            {% for qcm in upcoming_qcms %}
            {
                title: '{{ qcm.titre|escapejs }}',
                start: '{{ qcm.date_modif|date:"Y-m-d\\TH:i:s" }}',
                backgroundColor: getRandomColor(),
                borderColor: getRandomColor(),
                textColor: 'black',
                url: '{% url "qcm-edit" qcm.id %}' 
            },
            {% endfor %}
        ];

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            buttonText: {
                today: 'Aujourd\'hui',
                month: 'Mois',
                week: 'Semaine',
                day: 'Jour'
            },
            themeSystem: 'bootstrap',
            events: events,
            allDaySlot: false,
            eventMaxStack: 2,
            dayMaxEvents: 1,
            eventClick: function(info) {
                window.location.href = info.event.url;
            },
            views: {
                dayGridMonth: {
                    titleFormat: { year: 'numeric', month: 'long' }
                }
            },
            eventOrder: 'title',
        });

        calendar.render();
    });

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>

<style>
    .fc-daygrid-event {
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
    }

    .fc-event {
        cursor: pointer;
    }
</style>
{% endblock %}
