<!-- app/templates/home.html -->
{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <h2>Tableau de bord de {{ utilisateur.username }}</h2>

    <div class="row">

        <!-- Liste des QCM contenant des questions du professeurliste des réponses au qcm et statistiques -->
		<div class="col-md-6">
            <div class="card shadow-sm mb-3">
                <div class="card-header bg-primary text-white">
                    <h3>Vos réponses aux QCM</h3>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <div style="max-height: 243px; overflow-y: auto;">
                            <ul class="list-group">
                                {% for reponse in reponse_qcm %}
                                <li class="list-group-item">
                                    <strong>{{ reponse.qcm.titre }}</strong> - {{ reponse.date_reponse|date:"d/m/Y" }}
                                    <ul>
                                        <li>
                                            <a href="{% url 'qcm-correct' reponse.id %}">Voir ma réponse</a>
                                        </li>
                                    </ul>
                                </li>
                                {% empty %}
                                <li class="list-group-item">Aucun QCM trouvé.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow-sm mb-3">
                <div class="card-header bg-primary text-white">
                    <h3>Votre progression aux QCM hebdomadaires</h3>
                </div>
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <div style="max-height: 243px; overflow-y: auto;">
                            <canvas id="qcmChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Calendrier -->
        <div class="col-md-6">
            <div class="card shadow-sm mb-4">
            <div class="card-body">
                <br>
                <div id="calendar" style="width: 100%; height: 500px;"></div>
            </div>
            </div>
        </div>
    </div>


</div>
<!-- Script pour le calendrier FullCalendar -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        // Création des événements à partir des plages de chaque QCM
        var events = [
            {% for qcm in upcoming_qcms %}
                {% for plage in qcm.plages.all %}
                {% if plage.promo == utilisateur.promotion and plage.groupe == utilisateur.groupe %}
                    {
                        title: '{{ qcm.titre|escapejs }} s\'ouvre pour {{ plage.promo.name|escapejs }} {{ plage.groupe.name|escapejs }}',
                        start: '{{ plage.debut|date:"Y-m-d\\TH:i:s" }}',
                        end: '{{ plage.debut|date:"Y-m-d\\TH:i:s" }}',
                        backgroundColor: getRandomColor(),
                        borderColor: getRandomColor(),
                        textColor: 'black',
                        url: '{% url "qcm-acces" qcm.id %}'
                    },
                    {
                        title: '{{ qcm.titre|escapejs }} se termine pour {{ plage.promo.name|escapejs }} {{ plage.groupe.name|escapejs }}',
                        start: '{{ plage.fin|date:"Y-m-d\\TH:i:s" }}',
                        end: '{{ plage.fin|date:"Y-m-d\\TH:i:s" }}',
                        endblock: true,
                        backgroundColor: getRandomColor(),
                        borderColor: getRandomColor(),
                        textColor: 'black',
                        url: '{% url "qcm-acces" qcm.id %}'
                    },
                    {% endif %}
                {% endfor %}
            {% endfor %}
        ];

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            buttonText: {
                today: 'Aujourd\'hui',
                month: 'Mois',
                week: 'Semaine',
                day: 'Jour'
            },
            themeSystem: 'bootstrap',
            events: events,
            allDaySlot: false,
            eventMaxStack: 2,
            dayMaxEvents: 1, // This will limit the number of events displayed per day to at least one
            eventClick: function(info) {
                // Redirection vers l'URL de l'événement
                window.location.href = info.event.url;
            },
            views: {
                dayGridMonth: {
                    titleFormat: { year: 'numeric', month: 'long' }
                }
            },
            eventOrder: 'title', // Ordre des événements dans la pile
            eventDidMount: function(info) {
                if (info.view.type === 'dayGridMonth' && info.event._def.extendedProps.more) {
                    info.el.querySelector('.fc-daygrid-day-top').innerHTML += `<span class="fc-more-events">${info.event._def.extendedProps.more} more...</span>`;
                }
            }
        });

        calendar.render();

    /// Data for the chart
    var ctx = document.getElementById('qcmChart').getContext('2d');
    var qcmTitles = [
        {% for reponse in reponse_qcm %}
            '{{ reponse.qcm.titre|escapejs }}',
        {% endfor %}
    ];
    var qcmScores = [
        {% for reponse in reponse_qcm %}
            {{ reponse.score }},
        {% endfor %}
    ];

    var qcmMaxScores = [
        {% for reponse in reponse_qcm %}
            {{ reponse.score_max }},
        {% endfor %}
    ];

    var qcmDates = [
    {% for reponse in reponse_qcm %}
        '{{ reponse.date_reponse|date:"d/m/Y"|escapejs }}',
    {% endfor %}
    ];

    var qcmIds = [
    {% for reponse in reponse_qcm %}
        {{ reponse.id }},
    {% endfor %}
    ];



    // Normalize scores to 20 only if qcmMaxScores are non-zero
    var normalizedScores = qcmScores.map((score, index) => {
        var maxScore = qcmMaxScores[index];
        return maxScore > 0 ? (score / maxScore) * 20 : 0; // Avoid division by zero
    });

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for reponse in reponse_qcm %}
                    '{{ reponse.qcm.titre|escapejs }}',
                {% endfor %}
            ],
            datasets: [{
                data: normalizedScores,
                borderColor: 'rgba(54, 162, 235, 1)',
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderWidth: 2,
                fill: true,
                tension: 0.4,
                pointRadius: 5,
                pointBackgroundColor: 'rgba(54, 162, 235, 1)'
            }]
        },
        options: {
            responsive: true,
            onClick: function(evt) {
                var activePoints = this.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
                if (activePoints.length) {
                    var clickedIndex = activePoints[0].index; // Obtenir l'index du point cliqué
                    var qcmId = qcmIds[clickedIndex]; // Récupérer l'ID du QCM correspondant
                    window.location.href = "{% url 'qcm-correct' 0 %}".replace("0", qcmId); // Rediriger vers l'URL de correction
                    //pb vient de l'index de la réponse qui n'est pas la même que l'index du qcm
                    //il faut donc récupérer l'id du qcm correspondant à l'index de la réponse

                }
            },
            scales: {
                x: {
                    ticks: {
                        maxRotation: 45,
                        minRotation: 45,
                        autoSkip: false
                    }
                },
                y: {
                    beginAtZero: true,
                    min: 0,
                    max: 20,
                    ticks: {
                        stepSize: 5
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    callbacks: {
                        title: function(tooltipItems) {
                            return tooltipItems[0].label;
                        },
                        label: function(tooltipItem) {
                            var normalizedScore = tooltipItem.dataset.data[tooltipItem.dataIndex];
                            var realScore = qcmScores[tooltipItem.dataIndex];
                            var maxScore = qcmMaxScores[tooltipItem.dataIndex];
                            var qcmDate = qcmDates[tooltipItem.dataIndex];
                            return [
                                'Note : ' + realScore + '/' + maxScore,
                                'Note sur 20 : ' + normalizedScore.toFixed(2),
                                'Date : ' + qcmDate
                            ];
                        }
                    }
                }
            }
        }
    });





});

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>

<style>
    .fc-daygrid-event {
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
    }

    .fc-more-events {
        display: inline-block;
        font-size: 12px;
        color: #007bff;
        cursor: pointer;
    }
    .fc-event {
        cursor: pointer; /* Ajoutez cette ligne pour changer le curseur en pointer */
    }


</style>
{% endblock %}
